.nav{
    display: flex;
    background-color: blue;
    align-items: center;
    height: 60px;
}

.container_title{
    text-align: center;
    width: 70%;
}

.navUl{
    list-style: none;
    display: flex;
}

.navLi{
    padding: 10px;
}

.a{
    text-decoration: none;
    color: white;
}

.title{
    color: white;
    text-align: center;
    font-size: 40px;
}